
/*
#id_liste_fetch {
  text-align: left;
  font-size: 24px;
}

#id_img_logo, #id_img_boutons, #id_img_20 {
  display: flex;
  justify-content: center;
  padding: 0px;
}

*/*************
#id_btn_accueil, #id_btn_info, #id_btn_categories
{ 
  display: inline-block;
  height: 50px;
  width: 120px;
  background-color: #7b38d8;
  border-radius: 20px;
  border: 3px double #0814c4;
  color: #eeeeee;
  text-align: center;
  font-size: 20px;
  padding: 0px;
}
#photo_cat1{
  display: block;
  height: 500px;
  width: 600px;
}
  

#id_titre_cat1{
  text-align: center;
  justify-content: center;
  text-justify:auto;
  color: rgb(16, 153, 172);
  font-size: 50px;
}
/*
*/
#category_0, #category_2, #category_3, #category_4, #category_5, #id_img_logo {
  display: flex;
  justify-content:center;
  border: 0px solid rgb(110, 12, 139);
  width: auto;
}

.titre_cat{
  text-align: center;
  justify-content: center;
  color: rgb(85, 11, 146);
}
/*
.fg_cat2345, .fd_cat2345{
  text-align: center;
}

#id-btn_test1, #id-btn_test2, #id-btn_test3{
  display: flex;
  justify-content: center;
  text-align: center;
  border: 0px solid rgb(216, 8, 8);
  width: auto;
}


#id_result_next, #id_result_test, #id_result_test2, #id_result_res, #id_result_next_page, #id_result_previous_page, #id_result_img {
  text-align: center;
  font-size: 24px;
  border: 2px solid rgb(204, 236, 24);
}

#id_btn_fetch, #id_btn_fetch2, #id_test
{ 
  margin: auto;
  margin-top: 35px;
  margin-bottom: 5px;
  display: block;
}

#category_5, #category_4, #category_3, #category_2 
{
  background: #7b38d8;
}

.img1_cat5{
background-color: #7b38d8;
background-image: 110px;
font-size: 20px;
}

/*DEBUT MODAL ********************************************************/
